@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

*, ::after, ::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
}

:root{
    --frauces: 'Fraunces';
}

header{
    background-image: url(../images/desktop/image-header.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    min-height: 100vh;
}

.big-text{
    font-size: 3.5rem;
    font-family: var(--frauces);
    letter-spacing: 10px;
    font-weight: 900;
}

.frauces{
    font-family: var(--frauces);
}

.left{
    background-image: url(../images/desktop/image-graphic-design.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.right{
    background-image: url(../images/desktop/image-photography.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.normal-sections{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    min-height: 80vh;
}

.testimonials{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
}

footer{
    background-color: hsl(168, 34%, 41%);
}