@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

*, ::after, ::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
}

:root{
    --frauces: 'Fraunces';
    --barlow: 'Barlow';
}

header{
    background-image: url(../images/desktop/image-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.header-text{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: 900;
}